@font-face {
    font-family: 'open-sans-Regular';
    src: local('open-sans'), url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
  }
  
  @font-face {
      font-family: 'open-sans-Bold';
      font-weight: 900;
      src: local('open-sans'), url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
  }
  
  